.bordlength {
    margin :auto;
    width : 95vw;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px 
};

.picz{
    display: none;
    float:left;
    text-align: center;
    justify-content: space-between;
}


